div.jumbotron {
	text-align: center;
	background: none;
}

.sectionLight {
	background-color: #eceeef;
	padding: 2rem;
}

.sectionDark {
	background-color: #cccccc;
	padding: 2rem;
}

div.coolStuffWrapper {
	margin-top: 20px;
}

button.coolStuffBtn {
	background-color: red;
	color: #ffffff;
	display: block;
	margin: auto;
}

h5.modal-title {
	margin: auto;
}

div.modalFormWrapper {
	padding: 2rem;
}

.imgCenter {
	display: block;
	margin: auto;
}

.btnCenter {
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 80%;
}